@model IEnumerable<ProjectPrototype.Models.Player>

@{
    ViewData["Title"] = "Players";
}

<nav class="home-nav">
    <a asp-area="Default" asp-controller="Home" asp-action="Index">Home</a>
    <a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
</nav>
<div class="jace-container">
    <div>
        <h1 class="table-title">Players</h1>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Date-of-Birth
                    </th>
                    <th>
                        Height
                    </th>
                    <th>
                        Weight
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Team)
                    </th>
                    <th>
                        Position
                    </th>
                    <th>
                        Batting Average
                    </th>
                    <th>
                        Hitting Strikeouts
                    </th>
                    <th>
                        HR
                    </th>
                    <th>
                        RBIs
                    </th>
                    <th>
                        Walks
                    </th>
                    <th>
                        Fielding Percentage
                    </th>
                    <th>
                        ERA
                    </th>
                    <th>
                        Pitching Strikeouts
                    </th>
                    <th>
                        Walks Allowed
                    </th>
                    <th>
                        HR Allowed
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @item.getDateOfBirthDate()
                        </td>
                        <td>
                            @item.calculateHeight()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Weight) lbs
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Team.TeamName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            @item.calculateBattingAverage()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumHittingStrikeouts)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumHomeruns)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumRBI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumWalks)
                        </td>
                        <td>
                            @item.calculateFieldingPercentage()
                        </td>
                        <td>
                            @item.calculateERA()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumPitchingStrikeouts)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumWalksAllowed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumHomerunsAllowed)
                        </td>
                        <td>
                            <a class="table-management-button" asp-area="Default" asp-action="Details" asp-route-id="@item.PlayerId">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="weekly-players">
    <h1>Players Of The Week</h1>
    <div class="cards">
        <div class="player-card">
            <img src="~/images/kid1.jpeg" />
            <h4>Travis Scott</h4>
            <h6>P</h6>
        </div>
        <div class="player-card">
            <img src="~/images/kid2.jpeg" />
            <h4>Aubrey Graham</h4>
            <h6>RF</h6>
        </div>
        <div class="player-card">
            <img src="~/images/kid3.jpeg" />
            <h4>Kid Kidster</h4>
            <h6>1B</h6>
        </div>
        <div class="player-card">
            <img src="~/images/kid4.jpeg" />
            <h4>Morgan Freeman</h4>
            <h6>2B</h6>
        </div>
        <div class="player-card">
            <img src="~/images/kid5.jpeg" />
            <h4>Jack Harlow</h4>
            <h6>C</h6>
        </div>
    </div>
</div>
<footer>
    <p>Phone Number: (816)233-0879 | Email: bcslittleague@sportslife.com | Address: 2231 Texas Ave, Bryan, TX 77801</p>
</footer>

