@model ProjectPrototype.Models.Team

@{
    ViewData["Title"] = "Team Details";
}

<div class="container">
    <h1>@Model.TeamName Details</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Team Name
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TeamName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Mascot)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Mascot)
            </dd>
            <dt class="col-sm-2">
                Record
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Wins)-@Html.DisplayFor(model => model.Losses)
            </dd>
        </dl>
    </div>
    <div>
        <a class="table-management-button" asp-action="Edit" asp-route-id="@Model.TeamId">Edit</a>
        <a class="table-management-button" asp-action="Index">Back To Teams</a>
    </div>
</div>

