@model ProjectPrototype.Models.Match

@{
    ViewData["Title"] = "Match Details";
}

<div class="container">
    <h1 class="table-title">Match Details</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Team)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Team.TeamName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Game)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Game.DateTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Outcome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Outcome)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Score)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Score)
            </dd>
        </dl>
    </div>
    <div>
        <a class="table-management-button" asp-action="Edit" asp-route-id="@Model.MatchId">Edit</a>
        <a class="table-management-button" asp-action="Index">Back To Matches</a>
    </div>
</div>

