@model IEnumerable<ProjectPrototype.Models.Match>

@{
    ViewData["Title"] = "Matches";
}


<div class="jace-container">
    <h1 class="table-title">Matches</h1>
    <hr />
    <a class="table-management-button" asp-action="Index" asp-controller="Home">Go Back Home</a>
    <a class="table-management-button" asp-action="Create">Create New</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Team)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Game)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Outcome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Score)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Team.TeamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Game.DateTime)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Outcome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Score)
                    </td>
                    <td>
                        <a class="table-management-button" asp-action="Edit" asp-route-id="@item.MatchId">Edit</a>
                        <a class="table-management-button" asp-action="Details" asp-route-id="@item.MatchId">Details</a>
                        <a class="table-management-button" asp-action="Delete" asp-route-id="@item.MatchId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

