@model ProjectPrototype.ViewModels.GameMatch

@{
    ViewData["Title"] = "Create Game";
}

<div class="container">
    <h1 class="table-title">Create Game</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="TeamW.Mascot" value="fillerMascot" />
                    <input type="hidden" asp-for="TeamW.TeamName" value="fillerName" />
                    <label asp-for="TeamW.TeamId" class="control-label">Winner</label>
                    <select asp-for="TeamW.TeamId" class="form-control" asp-items="ViewBag.TeamIdA"></select>
                </div>
                <div class="form-group">
                    @Html.DisplayFor(model => model.MatchW.MatchId)
                    @Html.DisplayFor(model => model.MatchW.TeamId)
                    @Html.DisplayFor(model => model.MatchW.GameId)
                    <label asp-for="MatchW.Score" class="control-label">Winner Score</label>
                    <input asp-for="MatchW.Score" class="form-control" />
                    <span asp-validation-for="MatchW.Score" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="TeamL.Mascot" value="fillerMascot" />
                    <input type="hidden" asp-for="TeamL.TeamName" value="fillerName" />
                    <label asp-for="TeamL.TeamId" class="control-label">Loser</label>
                    <select asp-for="TeamL.TeamId" class="form-control" asp-items="ViewBag.TeamIdB"></select>
                </div>
                <div class="form-group">
                    @Html.DisplayFor(model => model.MatchL.MatchId)
                    @Html.DisplayFor(model => model.MatchL.TeamId)
                    @Html.DisplayFor(model => model.MatchL.GameId)
                    <label asp-for="MatchL.Score" class="control-label">Loser Score</label>
                    <input asp-for="MatchL.Score" class="form-control" />
                    <span asp-validation-for="MatchL.Score" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Game.DateTime" class="control-label">Date/Time</label>
                    <input asp-for="Game.DateTime" class="form-control" />
                    <span asp-validation-for="Game.DateTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Game.Location" class="control-label"></label>
                    <input asp-for="Game.Location" class="form-control" />
                    <span asp-validation-for="Game.Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="table-management-button" />
                    <a class="table-management-button" asp-action="Index">Back To Games</a>
                </div>
            </form>
        </div>
    </div>
</div>
