@model ProjectPrototype.ViewModels.GameMatch

@{
    ViewData["Title"] = "Delete Game";
}


<div class="container">
    <h4 class="table-title">Are you sure you want to delete this game?</h4>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                Winner
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MatchW.Team.TeamName)
            </dd>
            <dt class="col-sm-2">
                Winner Score
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MatchW.Score)
            </dd>
            <dt class="col-sm-2">
                Loser
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MatchL.Team.TeamName)
            </dd>
            <dt class="col-sm-2">
                Loser Score
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MatchL.Score)
            </dd>
            <dt class="col-sm-2">
                Date/Time
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Game.DateTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Game.Location)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Game.Location)
            </dd>
        </dl>
        <hr />
        <form asp-action="Delete">
            <input type="hidden" asp-for="Game.GameId" />
            <input type="submit" value="Delete" class="table-management-button" />
            <a class="table-management-button" asp-action="Index">Back to List</a>
        </form>
    </div>
</div>


