@model IEnumerable<ProjectPrototype.ViewModels.GameMatch>

@{
    ViewData["Title"] = "Index";
}

<h1>Full Game View - (Core Business Process)</h1>

<form asp-controller="GameMatch" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
    <p>
    <a href="https://localhost:7200/Home/Index">Home</a>
    </p>
</form>
<form action="Controllers/GamesController" method="post">
    <div>
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Winning team
                    </th>
                    <th>
                        Score
                    </th>
                    <th>
                        Losing team
                    </th>
                    <th>
                        Score
                    </th>
                    <th>
                        Date/Time
                    </th>
                    <th>
                        Location
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TeamW.TeamName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MatchW.Score)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TeamL.TeamName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MatchL.Score)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Game.DateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Game.Location)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-Id="@item.Game.GameId">Edit</a>
                            <a asp-action="Stats" asp-route-Id="@item.Game.GameId">Game Stats</a>
                            <a asp-action="Delete" asp-route-Id="@item.Game.GameId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>
<form asp-action="SimulateSeason">
    <div>
        Admin Simulate Season: <input type="number" name="year" />
        <input type="submit" value="Simulate" class="btn btn-primary" />
    </div>
</form>
