@model IEnumerable<ProjectPrototype.ViewModels.GameMatch>

@{
    ViewData["Title"] = "Games";
}

<div class="jace-container">
    <h1 class="table-title">Games</h1>
    <hr />
    <a class="table-management-button" asp-action="Index" asp-controller="Home">Go Back Home</a>
    <a class="table-management-button" asp-action="Create">Create New</a>
    <form asp-controller="GameMatch" asp-action="Index">
        <input class="filter text-input" type="text" name="SearchString" />
        <input class="filter table-management-button" type="submit" value="Filter" />
    </form>
    <form action="Controllers/GamesController" method="post">
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Winner
                        </th>
                        <th>
                            Winner Score
                        </th>
                        <th>
                            Loser
                        </th>
                        <th>
                            Loser Score
                        </th>
                        <th>
                            Date/Time
                        </th>
                        <th>
                            Location
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TeamW.TeamName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MatchW.Score)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TeamL.TeamName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MatchL.Score)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Game.DateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Game.Location)
                            </td>
                            <td>
                                <a class="table-management-button" asp-action="Edit" asp-route-Id="@item.Game.GameId">Edit</a>
                                <a class="table-management-button" asp-action="Stats" asp-route-Id="@item.Game.GameId">Details</a>
                                <a class="table-management-button" asp-action="Delete" asp-route-Id="@item.Game.GameId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
    <form asp-action="SimulateSeason">
        <div>
            Simulate Season <input class="text-input" type="number" name="year" />
            <input type="submit" value="Simulate" class="table-management-button" />
        </div>
    </form>
</div>

