@model ProjectPrototype.ViewModels.GameMatchStats

@{
    ViewData["Title"] = "Game Details";
}

<nav class="home-nav">
    <a asp-area="Default" asp-controller="Home" asp-action="Index">Home</a>
    <a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
</nav>
<div class="container">
    <h1 class="table-title">Game Details</h1>
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                Winner
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MatchW.Team.TeamName)
            </dd>
            <dt class="col-sm-2">
                Winner Score
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MatchW.Score)
            </dd>
            <dt class="col-sm-2">
                Loser
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MatchL.Team.TeamName)
            </dd>
            <dt class="col-sm-2">
                Loser Score
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MatchL.Score)
            </dd>
            <dt class="col-sm-2">
                Date/Time
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Game.DateTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Game.Location)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Game.Location)
            </dd>
        </dl>
    </div>
    <div>
        <a class="table-management-button" asp-area="Default" asp-controller="GameMatch" asp-action="Index">Back to List</a>
    </div>
</div>
<footer>
    <p>Phone Number: (816)233-0879 | Email: bcslittleague@sportslife.com | Address: 2231 Texas Ave, Bryan, TX 77801</p>
</footer>


