@model ProjectPrototype.ViewModels.GameMatch

@{
    ViewData["Title"] = "Stats";
}

<h1>Stats</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchLinkW.Game.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchLinkW.Game.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchLinkW.Game.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchLinkW.Game.Location)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MatchLinkW.Game.GameId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
