@model ProjectPrototype.ViewModels.GameMatchStats

@{
    ViewData["Title"] = "Game Details";
}

<div class="container">
    <h1 class="table-title">Game Details</h1>
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                Winner
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MatchW.Team.TeamName)
            </dd>
            <dt class="col-sm-2">
                Winner Score
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MatchW.Score)
            </dd>
            <dt class="col-sm-2">
                Loser
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MatchL.Team.TeamName)
            </dd>
            <dt class="col-sm-2">
                Loser Score
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MatchL.Score)
            </dd>
            <dt class="col-sm-2">
                Date/Time
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Game.DateTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Game.Location)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Game.Location)
            </dd>
        </dl>
    </div>
    @*<div class="form-group">
        @using (Html.BeginForm("Stats", "GameMatch", FormMethod.Post, new { id = "GameStats", name = "GameStats" }))
        {
            @Html.HiddenFor(model => model.Game.GameId)
            @Html.HiddenFor(model => model.Game.DateTime)
            @Html.HiddenFor(model => model.Game.Location)
            @Html.HiddenFor(model => model.TeamW.TeamId)
            @Html.HiddenFor(model => model.TeamW.TeamName)
            @Html.HiddenFor(model => model.TeamW.Mascot)
            @Html.HiddenFor(model => model.TeamL.TeamId)
            @Html.HiddenFor(model => model.TeamL.TeamName)
            @Html.HiddenFor(model => model.TeamL.Mascot)
            <label asp-for="SelectedTeamId" class="control-label"></label>
            <select asp-for="SelectedTeamId" class="form-control" asp-items="ViewBag.TeamSelect" onchange="StatsSelectChange()"></select>

            <div class="form-group">
                <label asp-for="SelectedPlayerId" class="control-label"></label>
                <select asp-for="SelectedPlayerId" class="form-control" asp-items="ViewBag.PlayerSelect" onchange="StatsSelectChange()"></select>
            </div>
            @if (Model.SelectedPlayer != null)
            {
                <div class="form-group">
                    <input type="submit" name="saveDummy" value="Save" class="btn btn-primary" />
                </div>
                @Html.HiddenFor(model => model.SelectedPlayer.PlayerId)
                @Html.HiddenFor(model => model.SelectedPlayer.FirstName)
                @Html.HiddenFor(model => model.SelectedPlayer.LastName)
                @Html.HiddenFor(model => model.SelectedPlayer.Position)
                @Html.HiddenFor(model => model.DummyPlayer.PlayerId)
                @Html.HiddenFor(model => model.DummyPlayer.FirstName)
                @Html.HiddenFor(model => model.DummyPlayer.LastName)
                @Html.HiddenFor(model => model.DummyPlayer.Position)
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SelectedPlayer.FirstName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SelectedPlayer.FirstName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SelectedPlayer.LastName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SelectedPlayer.LastName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SelectedPlayer.DOB)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SelectedPlayer.DOB)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SelectedPlayer.Height)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SelectedPlayer.Height)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SelectedPlayer.Weight)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SelectedPlayer.Weight)
                    </dd>
                </dl>
                <div>
                    <h1>Offensive Stats</h1>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedPlayer.NumAtBats" class="control-label">Number of At-Bats</label>
                    <dl class="row">
                        <dt class="col-sm-2">
                            Total:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SelectedPlayer.NumAtBats)
                        </dd>
                    </dl>
                    <input asp-for="DummyPlayer.NumAtBats" class="form-control " />
                    <span asp-validation-for="DummyPlayer.NumAtBats" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedPlayer.NumHits" class="control-label">Number of Hits</label>
                    <dl class="row">
                        <dt class="col-sm-2">
                            Total:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SelectedPlayer.NumHits)
                        </dd>
                    </dl>
                    <input asp-for="DummyPlayer.NumHits" class="form-control" />
                    <span asp-validation-for="DummyPlayer.NumHits" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedPlayer.NumHittingStrikeouts" class="control-label">Hitting Strikeouts</label>
                    <dl class="row">
                        <dt class="col-sm-2">
                            Total:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SelectedPlayer.NumHittingStrikeouts)
                        </dd>
                    </dl>
                    <input asp-for="DummyPlayer.NumHittingStrikeouts" class="form-control" />
                    <span asp-validation-for="DummyPlayer.NumHittingStrikeouts" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedPlayer.NumHomeruns" class="control-label">HR</label>
                    <dl class="row">
                        <dt class="col-sm-2">
                            Total:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SelectedPlayer.NumHomeruns)
                        </dd>
                    </dl>
                    <input asp-for="DummyPlayer.NumHomeruns" class="form-control" />
                    <span asp-validation-for="DummyPlayer.NumHomeruns" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedPlayer.NumRBI" class="control-label">RBIs</label>
                    <dl class="row">
                        <dt class="col-sm-2">
                            Total:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SelectedPlayer.NumRBI)
                        </dd>
                    </dl>
                    <input asp-for="DummyPlayer.NumRBI" class="form-control" />
                    <span asp-validation-for="DummyPlayer.NumRBI" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedPlayer.NumWalks" class="control-label">Walks</label>
                    <dl class="row">
                        <dt class="col-sm-2">
                            Total:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SelectedPlayer.NumWalks)
                        </dd>
                    </dl>
                    <input asp-for="DummyPlayer.NumWalks" class="form-control" />
                    <span asp-validation-for="DummyPlayer.NumWalks" class="text-danger"></span>
                </div>
                <div>
                    <h1>Defensive Stats</h1>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedPlayer.NumPlays" class="control-label">Number of Plays</label>
                    <dl class="row">
                        <dt class="col-sm-2">
                            Total:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SelectedPlayer.NumPlays)
                        </dd>
                    </dl>
                    <input asp-for="DummyPlayer.NumPlays" class="form-control" />
                    <span asp-validation-for="DummyPlayer.NumPlays" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedPlayer.NumErrors" class="control-label">Number of Errors</label>
                    <dl class="row">
                        <dt class="col-sm-2">
                            Total:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SelectedPlayer.NumErrors)
                        </dd>
                    </dl>
                    <input asp-for="DummyPlayer.NumErrors" class="form-control" />
                    <span asp-validation-for="DummyPlayer.NumErrors" class="text-danger"></span>
                </div>
                <div>
                    <h1>Pitching Stats</h1>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedPlayer.NumInningsPitched" class="control-label">Innings Pitched</label>
                    <dl class="row">
                        <dt class="col-sm-2">
                            Total:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SelectedPlayer.NumInningsPitched)
                        </dd>
                    </dl>
                    <input asp-for="DummyPlayer.NumInningsPitched" class="form-control" />
                    <span asp-validation-for="DummyPlayer.NumInningsPitched" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedPlayer.NumEarnedRunsAllowed" class="control-label">Earned Runs</label>
                    <dl class="row">
                        <dt class="col-sm-2">
                            Total:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SelectedPlayer.NumEarnedRunsAllowed)
                        </dd>
                    </dl>
                    <input asp-for="DummyPlayer.NumEarnedRunsAllowed" class="form-control" />
                    <span asp-validation-for="DummyPlayer.NumEarnedRunsAllowed" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedPlayer.NumPitchingStrikeouts" class="control-label">Pitching Strikeouts</label>
                    <dl class="row">
                        <dt class="col-sm-2">
                            Total:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SelectedPlayer.NumPitchingStrikeouts)
                        </dd>
                    </dl>
                    <input asp-for="DummyPlayer.NumPitchingStrikeouts" class="form-control" />
                    <span asp-validation-for="DummyPlayer.NumPitchingStrikeouts" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedPlayer.NumWalksAllowed" class="control-label">Walks Allowed</label>
                    <dl class="row">
                        <dt class="col-sm-2">
                            Total:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SelectedPlayer.NumWalksAllowed)
                        </dd>
                    </dl>
                    <input asp-for="DummyPlayer.NumWalksAllowed" class="form-control" />
                    <span asp-validation-for="DummyPlayer.NumWalksAllowed" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedPlayer.NumHomerunsAllowed" class="control-label">HR Allowed</label>
                    <dl class="row">
                        <dt class="col-sm-2">
                            Total:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SelectedPlayer.NumHomerunsAllowed)
                        </dd>
                    </dl>
                    <input asp-for="DummyPlayer.NumHomerunsAllowed" class="form-control" />
                    <span asp-validation-for="DummyPlayer.NumHomerunsAllowed" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" name="saveDummy" value="Save" class="btn btn-primary" />
                </div>
            }
        }
    </div>*@
    <div>
        <a class="table-management-button" asp-action="Edit" asp-route-id="@Model.Game.GameId">Edit</a>
        <a class="table-management-button" asp-action="Index">Back to List</a>
    </div>

    @*<script>
        function StatsSelectChange() {
            document.GameStats.submit();
        }
    </script>*@
</div>

