@model ProjectPrototype.Models.Game

@{
    ViewData["Title"] = "Game Details";
}

<div>
    <h1 class="table-title">Game Details</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Location)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateTime)
            </dd>
        </dl>
    </div>
    <div>
        <a class="table-management-button" asp-action="Edit" asp-route-id="@Model.GameId">Edit</a>
        <a class="table-management-button" asp-action="Index">Back To Games</a>
    </div>
</div>

